body {
}
form.mado {
  width: 100%;
  text-align: center
}
form.mado > input {
  width: 60%;
  font-size: 20px;
  border: 1px white solid;
  padding: 4px 10px;
}

div#g {
  padding: 80px 0;
}

div#g > a {
  width: 20%;
  float: right;
  margin: 0;
  padding: 0;
}

div#g > a:hover {
  transform: scale(2.0);
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

