body {
}
form.mado {
  width: 100%;
  text-align: center
}
form.mado > input {
  width: 60%;
  font-size: 20px;
  border: 1px white solid;
  padding: 4px 10px;
}

div#g {
  padding: 80px 0;
}

div#g > a {
  width: 100%;
  float: right;
  margin: 0;
  padding: 0;
  column-gap: 0px;
}

div#g > a:hover {
  transform: scale(1.2);
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
}

@media (max-width: 1600px) {
    div#g { column-count: 5; }
}
@media (max-width: 1200px) {
    div#g { column-count: 4; }
}
@media (max-width: 1000px) {
    div#g { column-count: 3; }
}
@media (max-width: 800px) {
    div#g { column-count: 2; }
}
@media (max-width: 500px) {
    div#g { column-count: 1; }
}
