/* for index.md */

@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Josefin Sans'), local('JosefinSans'), url(https://fonts.gstatic.com/s/josefinsans/v9/xgzbb53t8j-Mo-vYa23n5ugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    background: url(../img/symphony.png);
}

header {
    font-family: 'Josefin Sans';
    margin: 0;
    padding: 0.5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.234);
    color: #aaa;
    font-weight: bold;
    text-align: center;
}

header > a {
    color: #301010;
    font-weight: bold !important;
    text-decoration: none;
    font-size: 1.25rem;
}
header > a:hover {
    color: #a09090;
}

section {
    padding: 0;
    margin: 0;
    height: 98vh;
    width: 98vw;
    display: table
}

div.inner {
    height: 98vh;
    width: 98vw;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}

img.icon {
    width: 22%;
    min-width: 130px;
    min-height: 130px;
    max-width: 340px;
    max-height: 340px;
}

pre.eye {
    font-family: Consolas, "Courier New", Courier, Monaco, monospaceConsolas, "Courier New", Courier, Monaco, monospace !important;
    line-height: 1.2 !important;
    text-align: left !important;
    margin: 0 30%;
}
