/* for index.md */

@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Josefin Sans'), local('JosefinSans'), url(https://fonts.gstatic.com/s/josefinsans/v9/xgzbb53t8j-Mo-vYa23n5ugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    background: url(../img/symphony.png);
}

.tabs li {
    z-index: 3;
}
div.page {
    z-index: 1;
}

div.tabs {
    height: 2.5rem;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.04);
    margin: 0;
    margin-bottom: 0 !important;
}

div.tabs a {
    font-family: 'Josefin Sans';
    font-weight: bold !important;
    font-size: 1.5rem;
    height: 2.5rem;
    padding: 0.5rem 0.5rem 0 0.5rem;
}

div.page {
    height: calc(100vh - 2.5rem);
    width: 100vw;
    padding: 1.5rem 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.container {
    width: 100vw;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

div.page img {
    opacity: 0.65;
    height: calc(100vh - 5.5rem);
    width: calc(100vw);
    object-fit: cover;
}

.resume {
    margin: 5vw;
    background-color: transparent;
}
