/*
 * my awesome css
 */

@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Josefin Sans'), local('JosefinSans'), url(https://fonts.gstatic.com/s/josefinsans/v9/xgzbb53t8j-Mo-vYa23n5ugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

/*
 * primitive component
 */

body {
    background-color: #f6f6f6;
    font-size: 12pt;
    width: 80%;
    max-width: 1200px;
    margin: 10%;
}

body.with-bg {
    background: url(../../resources/img/symphony.png);
}

a {
    font-weight: bold;
    color: #401010;
}

a:hover {
    color: #904040;
}

ul {
    list-style: none;
}

h1, h2, h3, h4, h5 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Josefin Sans', sans-serif;
    text-align: left !important;
    font-weight: 600;
}
h1, h2, h3 {
    padding: 0.3em 0;
    margin: 1.5em 0 0.5em 0;
    border-bottom: 1px solid #dcdcdf;
}
h1 {
    font-size: 3em;
    border-bottom: 2px solid black;
}
h1.title {
    font-size: 2.0em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.25em;
}
h4 {
    font-size: 1em;
    border-bottom: 1px solid #ececef;
}
h5 {
    font-size: 0.875em;
    border-bottom: 1px solid #ececef;
}
h2:before { content: '#'; }
h3:before { content: '## '; }

td.lineNumbers {
    width: 40px;
}

/* <pre> code without LineNumbers */
pre {
    padding: 2px;
    padding-left: 20px;
    border-left: 8px solid #558abb;
    background-color: #fafbfc;
}

img {
    max-width: 100%;
}

blockquote {
    margin: 1.0rem 0;
    padding: 0.2rem 1.5rem;
    border-left: 0.5rem solid #bbb;
    background-color: #f0f0f0;
}

table {
    display: block;
    width: 100%;
    overflow: auto;
    border-spacing: 0;
    border-collapse: collapse;
}
table th {
    font-weight: 600;
}
table th, table td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
}
table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
}
table tr:nth-child(2n) {
    background-color: #f6f8fa;
}

table.no-border-table tr,
table.no-border-table th,
table.no-border-table td {
    border-width: 0;
    background-color: transparent;
}

/* for gist */
table.highlight tr, table.highlight th, table.highlight td {
    background-color: #fff !important;
    border: 0px solid white;
}

footer {
    margin-top: 2em;
    border-top: 1px #303030 dashed;
}

/*
 * my components
 */

.thm {
    margin: 1.0rem 0;
    padding: 0.2rem 1.5rem;
    border: 0.01rem solid #333;
    border-left: 0.5rem solid #333;
    background-color: #f0f0f0;
}

.tags {
    line-height: 2.6em;
    padding: 1.25em;
}

.tag {
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 1rem;
    height: 1.2rem;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(0.375em - 1px);
    padding-left: calc(0.625em - 1px);
    padding-right: calc(0.625em - 1px);
    padding-top: calc(0.375em - 1px);
    position: relative;
    vertical-align: top;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: white;
    border-color: #dbdbdb;
    color: #363636;
    cursor: pointer;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0.75em;
    padding-right: 0.75em;
    text-align: center;
    white-space: nowrap;
}

.card {
    background-color: white;
    -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    color: #4a4a4a;
    max-width: 100%;
    position: relative;
    margin: 8px;
}

.card-header {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1);
    box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 1.25rem 0 0;
}

.card-header-title {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #363636;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-weight: 700;
    padding: 0.75rem;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.25rem;
}

.card-content {
    padding: 0.5rem 1.5rem;
    font-size: 1.0rem !important;
}

/*
 * modifier
 */

.page-header {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 2em;
    font-family: 'Josefin Sans', sans-serif;
}

.tag.is-red {
    background-color: #ff3860;
    border-color: transparent;
    color: #fff;
}
.tag.is-red:hover, .tag.is-red.is-hovered {
  background-color: #ff2040;
  border-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}

.tag.is-green {
  background-color: #00d1b2;
  border-color: transparent;
  color: #fff;
}

.tag.is-green:hover, .tag.is-green.is-hovered {
  background-color: #00c4a7;
  border-color: transparent;
  color: #fff;
}

.tag.is-blue {
  background-color: #3273dc;
  border-color: transparent;
  color: #fff;
}
.tag.is-blue:hover, .tag.is-blue.is-hovered {
  background-color: #276cda;
  border-color: transparent;
  color: #fff;
}

.tag.is-small {
    border-radius: 2px;
    font-size: 0.75rem;
}

a.tag {
    text-decoration: none;
}

.is-pulled-left {
    float: left;
}

.is-pulled-right {
    float: right;
}

.date {
    font-family: 'Josefin Sans', sans-serif;
}

details {
    border: 1px black solid;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

figure {
  width: 100%;
  text-align: center;
}
