/*
 * master css for all pages
 */

body {
  background-color: #f6f6f6;
  font-size: 12pt;
  width: 80%;
  max-width: 1200px;
  margin: 10%;
}
a {
  font-weight: bold;
  color: #401010;
}
a:hover {
  color: #904040;
}

ul {
  list-style: none;
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Sans'), local('JosefinSans'), url(https://fonts.gstatic.com/s/josefinsans/v9/xgzbb53t8j-Mo-vYa23n5ugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

h1 {
  border: none !important;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3.2em !important;
  text-align: left !important;
}
h2 {
  border-bottom: 3px black solid;
  border-right: 9px black solid;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.6em !important;
  margin-top: 2em;
}
h3 {
  border-bottom: 2px black solid;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.4em !important;
}
h4 {
  border-bottom: 1px black dotted;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.4em !important;
  padding-left: 1em;
  width: 50%;
}
h2:before {
  content: '# ';
}
h3:before {
  content: '## ';
}

td.lineNumbers {
  width: 40px;
}

/* <pre> code without LineNumbers */
pre {
  padding: 2px;
  padding-left: 20px;
  border-left: 8px solid #558abb;
  background-color: #fafbfc;
}

img {
  max-width: 100%;
}

blockquote {
    margin-left: 0;
    border-left: 8px solid #bbb;
    padding-left: 20px;
}

table {
    border: 0 solid #000;
    border-left: 8px solid #c66;
    border-collapse: collapse;
}
th,td {
    padding-left: 20px;
}
tr.odd {
    background-color: #fff;
}
tr.even {
    background-color: #ddd;
}

.thm:before { content: "" }
.thm:after { content: "" }
.thm {
    display: block;
    margin: 1em 1em;
    padding: 1em;
    padding-left: 20px;
    transition: all 150ms;
    border: 2px black solid;
    border-radius: 5px;
}
.thm:hover {
    padding-left: 8px;
    border-left: 15px solid #444;
}
