/*
 * lib/ gnuplot/
 */

@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Josefin Sans'), local('JosefinSans'), url(https://fonts.gstatic.com/s/josefinsans/v9/xgzbb53t8j-Mo-vYa23n5ugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

/*
 * primitive component
 */

body {
  background-color: #f6f6f6;
  font-size: 12pt;
  width: 860px;
}

a {
  color: #602020;
  font-size: 14px;
  text-decoration: none;
}

iframe {
  padding: 0;
  position: fixed;
  margin: 0;
  padding: 0;
  width: 70%;
  height: 96%; /* for scroll bar */
  border: 0;
}

hr.shorthr {
  width: 30%;
  text-align: left;
  margin-left: 0;
}

h1 {
  font-size: 20px;
  cursor: pointer;
  border-bottom: 1px black solid;
}
h1:before {
  content: '# ';
}

h2 {
  font-size: 17px;
  padding-left: 10px;
}
h2:before {
  content: '_ ';
}

h1 > a {
  font-size: 20px;
}
h2 > a {
  font-size: 17px;
}

ul {
  list-style: none;
}

code.sourceCode {
  font-size: 14px;
  line-height: 20px;
  font-family: "Source Han Code", "Source Han Code JP"
}

/* preview window */
div#article {
  float: right;
  width: 530px;
}

/* left menu */
div.dates {
  width: 240px;
  padding-right: 20px;
  border-right: 1px black solid;
}
