<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.9">
  <title>dosoku/</title>
  <link rel="stylesheet" href="../resources/css/bulma/bulma.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<style>
.fa-shoe-prints {
  transform: rotate(-90deg);
}
h2 {
  padding-top: 13px;
}
</style>
  </head>
<body>
  <section class="section">
    <div class="container">
        <h1 class="title"><i class="fa fa-shoe-prints"></i> dosoku/</h1>
    </div>
  </section>
  <section class="section">
    <div class="container">

$if(toc)$
<nav id="$idprefix$TOC">
$toc$
</nav>
$endif$

$body$

    </div>
  </section>
</body>
</html>
