body {
  background-color: #f6f6f6;
}

a {
  color: #602020;
  text-decoration: none;
}

.two-columns {
  display: flex;
  gap: 2rem; /* between columns */
  margin: 2rem;
  padding: 2rem;
}

.column-left-80 {
  flex: 0 0 80%;
}

.column-right-20 {
  flex: 0 0 20%;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .two-columns {
    flex-direction: column;
  }
  .column-left-80,
  .column-right-20 {
    flex: 1 0 auto;
  }
}

.menu > h2 {
  font-size: 1.0rem;
  text-decorate: bold;
}
