body {
  background-color: #f6f6f6;
}

a {
  color: #602020;
  text-decoration: none;
}

div.article > h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  border-bottom: 1px solid #cacccf;
  margin: 1rem 0 1rem 0;
}

div.article > h1:before {
}

div.article > h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  border-bottom: 1px solid #eaecef;
  margin: 0.9rem 0 0.5rem 0;
}

div.article > h2:before {
  content: '# ';
}

div.article > h3 {
  font-size: 1.2rem;
  border-bottom: 1px solid #eaecef;
  margin: 0.5rem 0 0.5rem 0;
}

div.article > h3:before {
  content: '## '
}

div.article > h4 {
  font-size: 1.1rem;
  border-bottom: 1px black solid;
  margin: 0.5rem 0 0.5rem 0;
}

div.article ol {
  list-style: none inside;
  padding-left: 20px;
}

div.article ul {
  list-style: none inside;
  padding-left: 20px;
}

aside.menu > details.menu > summary.menu {
  font-size: 1.0rem;
}

aside.menu > details.menu > h2 {
  font-size: 0.9rem;
  font-weight: bold;
}

aside.menu > details.menu > a {
  font-size: 0.9rem;
}

aside.menu > details.menu ul {
  list-style: none;
  padding-left: 10px;
}

div.article pre {
  border-left: 3px black solid;
  margin: 5px 0 5px 0;
  background-color: #fafbfc;
}

div.article code {
  font-family: monospace;
  font-size: 1.01rem;
  color: black;
}
