div.item {
    padding: 0px;
    margin: 15px 0;
    padding-left: 20px;
    border-left: 5px solid #f77;
    transition: all 500ms;
    background-color: #fafafa;
}
div.item:hover {
    border-left: 5px solid #f44;
}

p {
    padding: 5px 0;
    margin: 0;
    display: block;
}
p.title {
    font-size: 1.2em;
}

p.url > a {
    font-size: 0.9em;
    text-decoration: none;
}

.tag {
    font-size: 0.8em;
    margin: 0 2px;
    padding: 0 3px;
    text-decoration: none;
    background-color: #f04040;
    border-radius: 0.4em;
    color: #fff;
    text-decoration: none;
}

div.taglist {
    text-align: justify;
    padding: 1px;
}

small {
    font-size: 0.5em;
}

@import url('https://fonts.googleapis.com/css?family=Barrio');

.date {
    font-family: 'Barrio', cursive;
    color: #aaa;
    float: right;
}

div.abst {
}
span.abst {
    font-size: 0.8em;
    color: #999;
}
span.abst:after {
    content: "/";
    margin: 0 1em 0 0.1em;
}

p.title {
    display: inline-block
}
p.tags {
    display: inline-block;
    padding-left: 12px;
}

.thm:before { content: "" }
.thm:after { content: "" }
.thm {
    display: block;
    margin: 1em 1em;
    padding: 1em;
    padding-left: 20px;
    transition: all 150ms;
    border: 2px black solid;
    border-radius: 5px;
}
.thm:hover {
    padding-left: 8px;
    border-left: 15px solid #444;
}
