div#menu {
  position: absolute;
  left: 10px; top: 10px;

  width: 160px;
  height: 90%;
  overflow: scroll;
  background-color: white;
  color: black;
  border: 1px red solid;
  box-shadow: 8px 8px;
  margin: 10px;
  cursor: pointer;
  transition-duration: 0.5s;
}

div#menu > span {
  display: inline-block;
  width: 100%;
}

div#menu > .Q {
  font-weight: bold;
  font-size: 1.0em;
}

div#menu > .Q:hover {
  background-color: #faa;
}

div#menu > .item {
  font-size: 0.8em;
}

div#menu > .item:hover {
  background-color: #faa;
}

div#menu > .item.closed {
  display: none;
}

div#result {
  position: absolute;
  right: 10px; top: 10px;

  overflow: scroll;
  width: 350px;
  background-color: white;
  color: black;
  border: 1px red solid;
  box-shadow: 6px 8px;
  margin: 10px;
}

div#result > .item {
  width: 350px;
  float: left;
}

#player {
  position: fixed;
  right: 10px; top: 50%;
  width: 195px;
  border: 2px white solid;
  z-index: 99;
}
