body {
    background: url(../../resources/img/symphony.png);
}

blockquote.post {
    padding: 0 1em;
    color: #777;
    border-left: 0.25em solid #ddd;
}

a.post {
    color: #337ab7;
    text-decoration: none;
}
a.post:focus, a.post:hover {
    color: #23257c;
    text-decoration: underline;
}

div.description {
}

span.description {
}
span.description:after {
    content: "/";
    color: #999;
    font-weight: bold;
    margin: 0 0.2em;
}

hr {
    height: 6px;
    background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}
footer {
    color: #aaa;
}
