
hr {
    height: 6px;
    background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}
footer {
    color: #aaa;
}

.thm:before { content: "" }
.thm:after { content: "" }
.thm {
    display: block;
    margin: 1em 1em;
    padding: 1em;
    padding-left: 20px;
    transition: all 150ms;
    border: 2px black solid;
    border-radius: 5px;
}
.thm:hover { border-left: 15px solid #444; }
