body {
  width: 760px;
}

section {
  border-left: 3px black double;
  padding-left: 5px;
  margin: 15px 0;
}

section > .author {
  color: #101010;
  font-size: 13pt;
}

section > .author:after {
  content: ":";
}

section > .title {
  font-size: 14pt;
  font-weight: bold;
}

section > .public {
  font-style: italic;
}

section > .public:before {
  content: "in";
}

section > .note:before {
  content: "my note:";
}

em {
  text-decoration: underline;
  font-style: normal;
  font-weight: bold;
}

span.date {
  background-color: #fff;
  color: #bbb;
  font-weight: bold;
  font-size: 20px;
  height: 22px;
  padding: 1px 4px;
  border-radius: 10px;
}

