div.outer {
    width: calc(100% - 1px);
    overflow: hidden;
    border: 0px;
}

div.photos {
    width: 100%;
    column-gap: 12px;
}

img {
    margin: 0;
    padding: 0;
}

img:hover {
  transform: scale(1.2);
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
}

@media (max-width: 10000px) {
    div.photos { column-count: 5; }
    div.outer { height: 500px }
}
@media (max-width: 1200px) {
    div.photos { column-count: 4; }
    div.outer { height: 500px }
}
@media (max-width: 1000px) {
    div.photos { column-count: 3; }
    div.outer { height: 700px }
}
@media (max-width: 800px) {
    div.photos { column-count: 2; }
    div.outer { height: 1000px }
}
@media (max-width: 500px) {
    div.photos { column-count: 1; }
    div.outer { height: 3000px }
}

div.footer {
    width: 100%;
    text-align: right;
    margin: 0;
    padding: 0.1rem;
}

div.footer > a {
    color: white;
    font-size: 0.7rem;
    text-decoration: none;
}
