div.outer {
    width: calc(100% - 1px);
    /* overflow: hidden; */
    border: 0px;
}

div.photos {
    width: 100%;
    column-gap: 12px;
}

img {
    margin: 0;
    padding: 0;
}

div.photos > img {
  opacity: 1;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
}

div.photos > img:hover {
  opacity: 0.7;
}

@media (max-width: 10000px) {
    div.photos { column-count: 3; }
    div.outer { height: 1000px }
}
@media (max-width: 2300px) {
    div.photos { column-count: 2; }
    div.outer { height: 1000px }
}
@media (max-width: 1200px) {
    div.photos { column-count: 2; }
    div.outer { height: 1000px }
}
@media (max-width: 600px) {
    div.photos { column-count: 1; }
    div.outer { height: 3000px }
}

div.zoom {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

div.zoom.hidden {
  display: none;
}

div.zoom.show {
  display: block;
  animation: show 0.1s linear 0s;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

div.zoom > img {
  max-width: 95vw;
  max-height: 95vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
