div.item {
    padding: 0px;
    margin: 15px 0;
    padding-left: 20px;
    border: 1px solid #f66;
    border-left: 6px solid #f66;
    background-color: #fafbfc;
}

p {
    padding: 5px 0;
    margin: 0;
    display: block;
}

p.title {
    font-size: 1.2em;
    line-height: 1.1em;
}

p.url:before {
    content: "\25b7";
    margin-right: 5px;
}

p.tags {
    float: right;
}

.tag {
    font-size: 0.9em;
    margin: 0 2px;
    padding: 0 3px;
    text-decoration: none;
    background-color: #fdd;
    border-radius: 0.5em;
}

div.abst {
}
span.abst {
    font-size: 0.8em;
    color: #999;
}
span.abst:after {
    content: "/";
    margin: 0 1em 0 0.1em;
}

a {
    font-size: 0.9em;
    text-decoration: none;
    color: black;
}

div.taglist {
    text-align: justify;
    padding: 1px;
}

small {
    font-size: 0.5em;
}
