div.content {
  overflow: hidden;
}

div.doc {
  height: auto;
  transition-duration: 0.8s;
}

div.card:target div.doc {
  height: auto;
  min-height: 60px;
  max-height: none;
  opacity: 1.0;
}

div.card:not(target) div.doc {
  height: auto;
  min-height: 60px;
  max-height: 60px;
  opacity: 0.4;
}

div.card footer {
  height: 2.5rem;
  min-height: 2.5rem;
  max-height: 2.5rem;
  background-color: #f9f9f9;
}

div.collapse {
  height: 60px;
  width: 100%;
  font-size: 43px;
  text-align: center;
  opacity: 0.5;
  transition-duration: 0.3s;
  cursor: pointer;
  position: relative;
  top: -60px;
  margin-bottom: -60px;
}

div.collapse a.extend {
  width: 100%;
}

div.collapse:hover {
  opacity: 0.8;
}

div.card:target div.collapse {
  display: none;
}

div.card:not(target) div.collapse {
  display: block;
}

div.card-year {
  text-align: center;
  vertical-align: middle;
  background-color: #f4f4f4;
  height: calc(0.8rem + 1.5rem + 120px + 2.5rem);
}

.card-footer-item {
  font-size: 0.9rem;
}
