aside.menu {
  width: 3vw;
  max-height: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  font-size: 0.8vw;
  z-index: 3;
}

aside.menu.left {
  left: 0;
  bottom: 0;
}

aside.menu.right {
  right: 0;
  bottom: 0;
}
